<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head', {title: 'Registro de usuario'}) %> 


<body class="register">
    <%- include('partials/header') %> 

    <main>
        <div class="formulario-register">
            <h2>Crear cuenta</h2>
            <div class="form">
                <form action="" method="POST">
                    <div class="usuario">
                        <label for="user">Nombre</label>
                        <input type="text" name="name" id="user" value="<%= locals.old && old.name ? old.name : null %>">
                        <span class="error"><%= locals.errores && errores.name ? errores.name.msg : null %> </span>
                    </div>
                    <div class="mail">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                        <span class="error"><%= locals.errores && errores.email ? errores.email.msg : null %> 
                       </span>
                    </div>
                    <div class="contrase単a">
                        <label for="pass">Contrase単a</label>
                        <input type="password" name="password" id="password">
                        <span class="error"><%= locals.errores && errores.password ? errores.password.msg : null %> </span>

                    </div>
                    <div class="repetircontra">
                        <label for="repeatpass">Repetir contrase単a</label>
                        <input type="password" name="repeatpass" id="repeatpass">
                        <span class="error"><%= locals.errores && errores.repeatpass ? errores.repeatpass.msg : null %> </span>

                    </div>
                    <div class="condicion-registro">
                        <input type="checkbox" name="terms" id="terms">
                        <label for="terminos">Acepta los terminos y condiciones</label>
                    </div>
                    <span class="error"><%= locals.errores && errores.terms ? errores.terms.msg : null %> </span>

                    <div class="boton-registro">
                        <button type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
            <div class="link-login">
                <p>多Ya tenes una cuenta? </p><a class="btn-login" href="/users/login">Iniciar sesion</a>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %> 

</body>

