<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 


<body>
    <%- include('partials/header') %> 

    
    <main class="main-store">
        <h3>Mi carrito</h3>
        <div class="container-main">
            <div class="container-store">
                <div class="titulos">
                    <ol>
                        <li>Imagen</li>
                        <li>Nombre</li>
                        <li>Cantidad</li>
                        <li>Precio</li>
                    </ol>
                </div>
                <section class="filas">
                    <% products.forEach(product => { %>
                        <article class="articulos">
                            <div class="articulo-comprar">
                                <img src="/images/<%= product.image%>" alt="" />
                            </div>
                            <div class="nombre-articulo">
                                <p><%= product.name %> </p>
                            </div>
                            <div class="cantidad-articulo">
                                <p>cantidad</p>
                            </div>
                            <div class="precio-articulo">
                                <p>$ <%=product.price %> </p>
                            </div>
                            <div class="eliminar-articulo">
                                <a class="eliminar-boton" href=""><i class="fas fa-times-circle"></i></a>
                                <a class="eliminar" href=""><span>eliminar</span></a>
                            </div>
                        </article>
                    <% }) %>
                    
                    


                </section>
            </div>
            <div class="total-button">
                <div class="container-total">
                    <section>
                        <div class="boton-costo">
                            <button type="submit">Calcular costo de envio</button>
                        </div>
                        <div class="envio-total">
                            <div class="envio">
                                <p>Envio:</p> <p>$0.00</p>
                            </div>
                            
                            <div class="total">
                                <p>Total:</p> <p>$0.00</p>
                            </div>
 
                        </div>

                    </section>
                </div>

                <div class="container-button">
                    <section>
                        <div class="boton-continuar">
                            <button type="submit">Seguir comprando</button>
                        </div>
                        <div class="boton-pagar">
                            <button type="submit">Finalizar compra</button>
                        </div>
                    </section>
                </div>

            </div>
        </div>


    </main>
    <%- include('partials/footer') %> 

</body>
<script src="/js/cart.js"></script>
</html>