<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 


<body>
    <%- include('partials/header') %> 

    <main class="product-view">
        <div class="contenedor-detalle">
            <a href="/detail/<%= product.id %> "></a>

            <div class="img-articulo">
                <img src="/images/<%= product.image%>" alt="" />
                <p class="product-preci"> $<%= product.price %> </p>
            </div>
            <div class="color-boton">
                <div class="img-colores">
                    <h3 class="color">Color</h3>
                    <img src="/images/colores.png">
                </div>
                <div class="buton-producto">
                    <div class="boton-agregar">
                        <button type="submit">Agregar al carrito</button>
    
                    </div>
                    <div class="boton-comprar">
                        <button type="submit">Seguir comprando </button>
    
                    </div>
                </div>
            </div>
            
            <div class="descripcion">
                <section>
                    <h3>Descripcion</h3>
                    <p> <%= product.name %></p>
                    <p>¿Ya tenés tus BIG BRUSH PASTEL en todos los colores?</p>
                    <div class="caracteristicas">
                        <ol>
                            <li>20 colores intensos, incluye gama completa de pasteles</li>
                            <li>Punta pincel de 4 mm de diámetro</li>
                            <li>Extra suave y ultra flexible</li>
                            <li>Ideales para lettering</li>
                        </ol>
                    </div>
                </section>
            </div>
           
        </div>
    </main>
    <%- include('partials/footer') %> 

</body>

</html>